Repository bounswe/bounswe2019group10, pull requests merged in 2019-12, with the labels that each got.

#278 ADDED search for member functionality
  backend/src/main/java/com/example/backend/controller/search/SearchController.java
  backend/src/main/java/com/example/backend/repository/member/MemberRepository.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/MemberDTOConverterService.java
  backend/src/main/java/com/example/backend/service/search/SearchService.java
Labels: Priority: High, Relation: Backend, Type: New Feature

#280 Member Comment Functionality
  backend/src/main/java/com/example/backend/config/WebSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/comment/CommentController.java
  backend/src/main/java/com/example/backend/model/member/MemberComment.java
  backend/src/main/java/com/example/backend/model/member/MemberCommentDTO.java
  backend/src/main/java/com/example/backend/repository/member/MemberCommentRepository.java
  backend/src/main/java/com/example/backend/service/comment/CommentService.java
Labels: Priority: High, Relation: Backend, Type: New Feature

#285 Backend dev messaging
  backend/src/main/java/com/example/backend/controller/message/MessageController.java
  backend/src/main/java/com/example/backend/model/message/Conversation.java
  backend/src/main/java/com/example/backend/model/message/ConversationDTO.java
  backend/src/main/java/com/example/backend/model/message/Message.java
  backend/src/main/java/com/example/backend/model/message/MessageDTO.java
  backend/src/main/java/com/example/backend/model/message/MessageRequest.java
  backend/src/main/java/com/example/backend/model/writing/WritingResult.java
  backend/src/main/java/com/example/backend/repository/message/ConversationRepository.java
  backend/src/main/java/com/example/backend/repository/message/MessageRepository.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/ConversationDTOConverterService.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/MessageDTOConverterService.java
  backend/src/main/java/com/example/backend/service/message/MessageService.java
Labels: Relation: Backend

#286 Annotation Feature
  backend/pom.xml
  backend/src/main/java/com/example/backend/controller/annotation/AnnotationController.java
  backend/src/main/java/com/example/backend/controller/comment/CommentController.java
  backend/src/main/java/com/example/backend/controller/writing/WritingController.java
  backend/src/main/java/com/example/backend/model/annotation/Annotation.java
  backend/src/main/java/com/example/backend/model/annotation/AnnotationDTO.java
  backend/src/main/java/com/example/backend/repository/annotation/AnnotationRepository.java
  backend/src/main/java/com/example/backend/service/annotation/AnnotationService.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Priority: Medium, Relation: Backend, Type: New Feature

#289 Message model extended with data on the sender and receiver
  backend/src/main/java/com/example/backend/model/message/Message.java
  backend/src/main/java/com/example/backend/model/message/MessageDTO.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/MessageDTOConverterService.java
  backend/src/main/java/com/example/backend/service/message/MessageService.java
Labels: Priority: Urgent, Relation: Backend, Type: Bug

#299 Backend/user comment/#298
  backend/src/main/java/com/example/backend/controller/comment/CommentController.java
  backend/src/main/java/com/example/backend/model/member/MemberCommentDTO.java
  backend/src/main/java/com/example/backend/model/member/MemberCommentMakeDTO.java
  backend/src/main/java/com/example/backend/service/comment/CommentService.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/MemberCommentDTOConverterService.java
  backend/src/main/java/com/example/backend/service/member/JwtUserDetailsService.java
Labels: Priority: High, Relation: Backend, Type: Enhancement

#311 Search endpoints renewed
  backend/src/main/java/com/example/backend/controller/search/SearchController.java
  backend/src/main/java/com/example/backend/model/search/SearchMemberResponse.java
  backend/src/main/java/com/example/backend/model/search/SearchRequest.java
  backend/src/main/java/com/example/backend/repository/member/MemberRepository.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/SearchMemberResponseConverterService.java
  backend/src/main/java/com/example/backend/service/search/SearchService.java
Labels: Priority: Medium, Relation: Backend, Type: Enhancement

#316 Conversation, MemberLanguage, WritingResult models are updates
  backend/src/main/java/com/example/backend/model/member/MemberLanguage.java
  backend/src/main/java/com/example/backend/model/message/Conversation.java
  backend/src/main/java/com/example/backend/model/writing/WritingResult.java
Labels: Priority: Urgent

#319 Bug-fix for failing deserialization.
  backend/pom.xml
  backend/src/main/java/com/example/backend/model/member/MemberLanguage.java
  backend/src/main/java/com/example/backend/model/notification/Notification.java
  backend/src/main/java/com/example/backend/model/writing/WritingResult.java
  backend/src/main/java/com/example/backend/repository/member/MemberLanguageRepository.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Type: Bug

#320 Final implementation of messaging
  backend/src/main/java/com/example/backend/controller/message/MessageController.java
  backend/src/main/java/com/example/backend/model/message/ConversationDTO.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/ConversationDTOConverterService.java
  backend/src/main/java/com/example/backend/service/message/MessageService.java
Labels: Priority: High, Relation: Backend, Type: Project-task

#325 Creator Model added to annotation and Created/Updated time added
  backend/src/main/java/com/example/backend/controller/annotation/AnnotationController.java
  backend/src/main/java/com/example/backend/model/annotation/Annotation.java
  backend/src/main/java/com/example/backend/model/annotation/AnnotationDTO.java
  backend/src/main/java/com/example/backend/service/annotation/AnnotationService.java
Labels: Priority: Medium, Relation: Backend, Type: Enhancement

#326 Implementation of recommendation and a new endpoint
  backend/src/main/java/com/example/backend/controller/writing/WritingController.java
  backend/src/main/java/com/example/backend/repository/member/MemberLanguageRepository.java
  backend/src/main/java/com/example/backend/repository/member/MemberRepository.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Priority: High, Relation: Backend, Status: Completed, Type: Enhancement

#334 The null pointer exception fix in the member language model
  backend/src/main/java/com/example/backend/service/member/JwtUserDetailsService.java
Labels: Relation: Backend

#335 Reporting mechanism implementation
  backend/src/main/java/com/example/backend/controller/reporting/ReportController.java
  backend/src/main/java/com/example/backend/model/reporting/Report.java
  backend/src/main/java/com/example/backend/model/reporting/ReportCause.java
  backend/src/main/java/com/example/backend/model/reporting/ReportRequest.java
  backend/src/main/java/com/example/backend/repository/reporting/ReportCauseRepository.java
  backend/src/main/java/com/example/backend/repository/reporting/ReportRepository.java
  backend/src/main/java/com/example/backend/service/reporting/ReportingService.java
Labels: Priority: High, Relation: Backend, Status: Completed, Type: Enhancement, Type: Project-task

#342 Frontend chat
  frontend/src/App/App.jsx
  frontend/src/HeaderComponent/HeaderComponent.jsx
  frontend/src/MessagingPage/MessagingPage.jsx
  frontend/src/MessagingPage/index.js
  frontend/src/_actions/user.actions.js
  frontend/src/_constants/user.constants.js
  frontend/src/_reducers/users.reducer.js
  frontend/src/_services/user.service.js
Labels: Priority: Medium, Relation: Frontend, Type: New Feature

#346 Backend dev writing
  backend/src/main/java/com/example/backend/controller/writing/WritingController.java
  backend/src/main/java/com/example/backend/model/writing/Suggestion.java
  backend/src/main/java/com/example/backend/repository/writing/SuggestionRepository.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Priority: Medium, Relation: Backend, Type: Enhancement

#352 Comment Rating
  backend/src/main/java/com/example/backend/controller/comment/CommentController.java
  backend/src/main/java/com/example/backend/model/member/comment/MemberComment.java
  backend/src/main/java/com/example/backend/model/member/comment/MemberCommentDTO.java
  backend/src/main/java/com/example/backend/model/member/comment/MemberCommentMakeDTO.java
  backend/src/main/java/com/example/backend/model/member/comment/MemberRating.java
  backend/src/main/java/com/example/backend/repository/member/MemberCommentRepository.java
  backend/src/main/java/com/example/backend/service/comment/CommentService.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/MemberCommentDTOConverterService.java
Labels: Priority: High, Relation: Backend, Type: Enhancement

#347 Notification implementation,writing view and suggestion
  frontend/src/App/App.jsx
  frontend/src/HeaderComponent/HeaderComponent.jsx
  frontend/src/MyWritingsPage/MyWritingsPage.jsx
  frontend/src/MyWritingsPage/index.js
  frontend/src/NotificationsPage/NotificationsPage.jsx
  frontend/src/NotificationsPage/index.js
  frontend/src/WritingPage/WritingPage.css
  frontend/src/WritingPage/WritingPage.jsx
  frontend/src/WritingReviewPage/WritingReviewPage.jsx
  frontend/src/WritingTopicPage/WritingTopicPage.jsx
  frontend/src/WritingTopicPage/index.js
  frontend/src/_actions/user.actions.js
  frontend/src/_actions/writing.actions.js
  frontend/src/_constants/user.constants.js
  frontend/src/_constants/writing.constants.js
  frontend/src/_reducers/users.reducer.js
  frontend/src/_reducers/writing.reducer.js
  frontend/src/_services/user.service.js
  frontend/src/_services/writing.service.js
Labels: Priority: Medium, Relation: Frontend, Type: New Feature

#353 Android messaging
  YallpAndroid/app/src/main/AndroidManifest.xml
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ConversationActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/HomePageActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ProfileVisitPageActivity.kt
  YallpAndroid/app/src/main/java/com/example/yallp_android/adapters/ConversationListAdapter.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/adapters/HomePageTabAdapter.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/adapters/MessageListAdapter.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/fragments/MessageFragment.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Conversation.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Message.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/SendMessage.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/MessageApi.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/RetroClients/MessageRetroClient.java
  YallpAndroid/app/src/main/res/layout/activity_conversation.xml
  YallpAndroid/app/src/main/res/layout/fragment_message.xml
  YallpAndroid/app/src/main/res/layout/profile_page_visit.xml
  YallpAndroid/app/src/main/res/layout/user_conversation.xml
  YallpAndroid/app/src/main/res/layout/user_message.xml
Labels: Priority: High, Relation: Android, Status: Needs-review, Type: Enhancement, Type: New Feature

#362 Writing Image
  .idea/misc.xml
  backend/src/main/java/com/example/backend/controller/writing/WritingController.java
  backend/src/main/java/com/example/backend/model/writing/WritingResult.java
  backend/src/main/java/com/example/backend/model/writing/WritingResultDTO.java
  backend/src/main/java/com/example/backend/model/writing/WritingResultImageRequest.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/WritingResultDTOConverterService.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Relation: Backend, Status: Needs-review, Type: Enhancement, Type: New Feature

#368 CHANGED rating data type changed to double
  backend/src/main/java/com/example/backend/model/member/comment/MemberComment.java
  backend/src/main/java/com/example/backend/model/member/comment/MemberCommentDTO.java
  backend/src/main/java/com/example/backend/model/member/comment/MemberCommentMakeDTO.java
  backend/src/main/java/com/example/backend/service/comment/CommentService.java
Labels: Priority: High, Relation: Backend, Type: Enhancement

#375 Writing endpoint returns ids
  backend/src/main/java/com/example/backend/model/writing/WritingResponse.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
  backend/src/test/java/com/example/backend/controller/message/MessageTest.java
  backend/src/test/java/com/example/backend/controller/writing/WritingTest.java
Labels: Priority: Urgent, Relation: Backend, Status: Completed, Type: Enhancement

#376 ADDED get user info from username endpoint
  backend/src/main/java/com/example/backend/controller/member/MemberController.java
Labels: Priority: Medium, Relation: Backend, Type: Enhancement

#387 Image Annotation
  backend/src/main/java/com/example/backend/controller/annotation/AnnotationController.java
  backend/src/main/java/com/example/backend/model/annotation/ImageAnnotation.java
  backend/src/main/java/com/example/backend/model/annotation/ImageAnnotationDTO.java
  backend/src/main/java/com/example/backend/repository/annotation/ImageAnnotationRepository.java
  backend/src/main/java/com/example/backend/service/annotation/AnnotationService.java
Labels: Priority: Medium, Relation: Backend, Type: New Feature

#392 image display for profile page visit added. Also expandable bio edited.
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ProfileVisitPageActivity.kt
  YallpAndroid/app/src/main/java/com/example/yallp_android/fragments/ProfilePageFragment.java
  YallpAndroid/app/src/main/res/layout/profile_page_visit.xml
Labels: Priority: High, Relation: Android, Type: Bug

#394 the call order in the home page is fixed
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ConversationActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/HomePageActivity.java
Labels: Priority: Low, Relation: Android, Status: Needs-review, Type: Bug, Type: Enhancement

#399 Android image upload writing
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/WritingActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/fragments/ProfilePageFragment.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/helper/FileUtils.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/helper/GalleryHelper.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/WritingRequestWithUrl.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/WritingApi.java
  YallpAndroid/app/src/main/res/drawable/ic_folder.xml
  YallpAndroid/app/src/main/res/layout/activity_writing.xml
  YallpAndroid/app/src/main/res/values/strings.xml
  YallpAndroid/app/src/main/res/values/styles.xml
Labels: Priority: High, Relation: Android, Status: Completed

#408 all image uploads and displays are working
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/CompletedWritingExerciseActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/GiveScoreForWritingActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/NonCompletedAssignmentsActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/SignInActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/WritingDetailActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/adapters/NonCompletedAssignmentAdapter.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/fragments/ProfilePageFragment.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/fragments/WritingExerciseAnswerFragment.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/CompletedWritings.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/NonCompletedAssignments.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/WritingResultDTO.java
  YallpAndroid/app/src/main/res/layout/fragment_writing_exercise_answer.xml
Labels: Priority: High, Relation: Android

#410 Android text annotation
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ConversationActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/GiveScoreForWritingActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/WritingActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/WritingDetailActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/fragments/WritingExerciseAnswerFragment.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Annotation.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/AnnotationDTO.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/AnnotationDeleteDTO.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Creator.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Selector.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Target.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/AnnotationApi.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/RetroClients/AnnotationRetroClient.java
  YallpAndroid/app/src/main/res/layout/fragment_writing_exercise_answer.xml
  YallpAndroid/app/src/main/res/menu/writing_annotation.xml
Labels: Priority: High, Relation: Android, Status: Needs-review, Type: Enhancement, Type: New Feature

#396 Frontend text annotation
  frontend/package.json
  frontend/src/HomePage/HomePage.jsx
  frontend/src/MessagingPage/MessagingPage.jsx
  frontend/src/MyWritingsPage/MyWritingsPage.jsx
  frontend/src/WritingReviewPage/WritingReviewPage.jsx
  frontend/src/_actions/writing.actions.js
  frontend/src/_constants/writing.constants.js
  frontend/src/_reducers/writing.reducer.js
  frontend/src/_services/writing.service.js
Labels: Priority: Medium, Relation: Frontend, Type: New Feature

#418 Frontend writingviapicture
  frontend/src/MyWritingsPage/MyWritingsPage.jsx
  frontend/src/NotificationsPage/NotificationsPage.jsx
  frontend/src/SearchPage/WritingResultComponent.jsx
  frontend/src/WritingPage/WritingPage.jsx
  frontend/src/WritingReviewPage/WritingReviewPage.jsx
  frontend/src/_actions/user.actions.js
  frontend/src/_actions/writing.actions.js
  frontend/src/_constants/writing.constants.js
  frontend/src/_reducers/quiz.reducer.js
  frontend/src/_reducers/writing.reducer.js
  frontend/src/_services/user.service.js
  frontend/src/_services/writing.service.js
Labels: Priority: Medium, Relation: Frontend, Type: New Feature

#426 Frontend image annotaion
  frontend/package-lock.json
  frontend/package.json
  frontend/src/MyWritingsPage/MyWritingsPage.jsx
  frontend/src/WritingPage/WritingPage.jsx
  frontend/src/WritingReviewPage/WritingReviewPage.jsx
  frontend/src/_actions/writing.actions.js
  frontend/src/_constants/writing.constants.js
  frontend/src/_reducers/writing.reducer.js
  frontend/src/_services/writing.service.js
Labels: Priority: Urgent, Relation: Frontend, Type: New Feature

#427 final updates according to feedbacks
  frontend/src/MyWritingsPage/MyWritingsPage.jsx
  frontend/src/OpeningPage/OpeningPage.jsx
  frontend/src/QuizPage/QuizPage.jsx
  frontend/src/WritingReviewPage/WritingReviewPage.jsx
  frontend/src/_reducers/quiz.reducer.js
Labels: Priority: Urgent, Relation: Frontend, Type: Bug

#430 Android image annotation
  YallpAndroid/app/src/main/java/com/example/yallp_android/fragments/WritingExerciseAnswerFragment.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/ImageAnnotationDTO.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Selector.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/TextAnnotationDeleteDTO.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/AnnotationApi.java
  YallpAndroid/app/src/main/res/layout/fragment_writing_exercise_answer.xml
Labels: Priority: High, Status: Needs-review, Type: Enhancement, Type: New Feature

#431 Frontend final profilepage
  .DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/src/HomePage/HomePage.jsx
  frontend/src/OpeningPage/OpeningPage.jsx
  frontend/src/ProfilePage/Comment/Comment.jsx
  frontend/src/ProfilePage/Comment/index.js
  frontend/src/ProfilePage/Language/Language.jsx
  frontend/src/ProfilePage/Language/index.js
  frontend/src/ProfilePage/Profile/Profile.jsx
  frontend/src/ProfilePage/Profile/index.js
  frontend/src/ProfilePage/ProfilePage.jsx
  frontend/src/ProfilePage/Writing/Writing.jsx
  frontend/src/ProfilePage/Writing/index.js
  frontend/src/ProfilePageOfUser/ProfilePageOfUser.jsx
  frontend/src/ProfilePageOfUser/index.js
  frontend/src/QuizPage/QuizPage.jsx
  frontend/src/SearchPage/QuizResultComponent.jsx
  frontend/src/SearchPage/SearchPage.jsx
  frontend/src/SearchPage/WritingResultComponent.jsx
  frontend/src/WritingPage/WritingPage.jsx
  frontend/src/WritingReviewPage/WritingReviewPage.jsx
  frontend/src/_actions/comment.action.js
  frontend/src/_actions/index.js
  frontend/src/_actions/quiz.actions.js
  frontend/src/_actions/user.actions.js
  frontend/src/_actions/writing.actions.js
  frontend/src/_constants/comment.constants.js
  frontend/src/_constants/index.js
  frontend/src/_constants/user.constants.js
  frontend/src/_reducers/comment.reducer.js
  frontend/src/_reducers/index.js
  frontend/src/_reducers/users.reducer.js
  frontend/src/_services/comment.service.js
  frontend/src/_services/index.js
  frontend/src/_services/user.service.js
Labels: Priority: Urgent, Relation: Frontend, Type: New Feature
