Repository bounswe/bounswe2019group10, pull requests merged in 2019-05, with the labels that each got.

#63 Definition endpoint and its test are added
  backend/api/Api.js
  backend/api/Words.js
  backend/main.js
  backend/tests/definition.test.js
  backend/tests/definitionTest.js
Labels: Priority: High, Relation: Backend, Relation: Test

#66 Test fix
  backend/package-lock.json
  backend/tests/definition.test.js
  backend/tests/definitionTest.js
Labels: Priority: High, Status: Needs-review, Type: Project-task

#88 Test urls
  practice-app/backend/tests/antonymTest.js
  practice-app/backend/tests/definitionTest.js
  practice-app/backend/tests/synonymTest.js
  practice-app/frontend/yallp/src/app/api.service.ts
  practice-app/frontend/yallp/src/app/app.component.html
  practice-app/frontend/yallp/src/app/model.ts
  practice-app/frontend/yallp/src/app/property/property.component.html
  practice-app/frontend/yallp/src/app/property/property.component.ts
Labels: Priority: Medium, Relation: Backend, Type: Enhancement, Type: Project-task

#87 a frontend page is prepared for the similarTo endpoint
  practice-app/frontend/yallp/src/app/api.service.ts
  practice-app/frontend/yallp/src/app/app.component.html
  practice-app/frontend/yallp/src/app/model.ts
  practice-app/frontend/yallp/src/app/property/property.component.html
  practice-app/frontend/yallp/src/app/property/property.component.ts
Labels: Priority: Urgent, Relation: Frontend, Type: New Feature, Type: Project-task
