Repository bounswe/bounswe2019group10, pull requests merged in 2019-11, with the labels that each got.

#183 Register endpoint is updated
  deliverables/CmpE451_Milestone1.pdf
  project_plan/cmpe451/README.md
  project_plan/cmpe451/YALLP.pdf
  project_plan/cmpe451/YALLP.pod
Labels: Priority: Medium, Relation: Backend, Type: Enhancement

#187 Backend/feature/#186
  backend/src/main/java/com/example/backend/controller/language/LanguageController.java
  backend/src/main/java/com/example/backend/model/language/Language.java
  backend/src/main/java/com/example/backend/model/language/MemberLanguage.java
  backend/src/main/java/com/example/backend/model/language/MemberLanguageDTO.java
  backend/src/main/java/com/example/backend/model/member/Member.java
  backend/src/main/java/com/example/backend/repository/language/LanguageRepository.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/MemberLanguageConverterService.java
  backend/src/main/java/com/example/backend/service/language/LanguageService.java
Labels: Priority: Medium, Relation: Backend, Type: New Feature

#191 Backend/feature/#190
  backend/src/main/java/com/example/backend/controller/member/MemberController.java
  backend/src/main/java/com/example/backend/model/language/MemberLanguage.java
  backend/src/main/java/com/example/backend/model/member/Member.java
  backend/src/main/java/com/example/backend/model/member/MemberDTO.java
  backend/src/main/java/com/example/backend/model/member/MemberLanguage.java
  backend/src/main/java/com/example/backend/model/member/MemberLanguageDTO.java
  backend/src/main/java/com/example/backend/repository/language/LanguageRepository.java
  backend/src/main/java/com/example/backend/repository/member/MemberLanguageRepository.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/MemberDTOConverterService.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/MemberLanguageConverterService.java
  backend/src/main/java/com/example/backend/service/member/JwtUserDetailsService.java
  backend/src/main/java/com/example/backend/service/quiz/QuizService.java
  backend/src/test/java/com/example/backend/controller/member/MemberControllerTest.java
Labels: Priority: Medium

#194 Backend dev swagger
  backend/pom.xml
  backend/src/main/java/com/example/backend/config/SwaggerConfig.java
  backend/src/main/java/com/example/backend/config/WebSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/language/LanguageController.java
  backend/src/main/java/com/example/backend/controller/member/JwtAuthenticationController.java
  backend/src/main/java/com/example/backend/controller/member/MemberController.java
  backend/src/main/java/com/example/backend/controller/quiz/QuizController.java
  backend/src/test/java/com/example/backend/controller/member/JwtAuthenticationControllerTest.java
  backend/src/test/java/com/example/backend/controller/member/MemberControllerTest.java
Labels: Priority: High, Type: New Feature

#206 Added authentication feature in Swagger UI
  backend/pom.xml
  backend/src/main/java/com/example/backend/config/SwaggerConfig.java
Labels: Priority: Urgent

#204 add new language activity is created
  YallpAndroid/app/src/main/AndroidManifest.xml
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/AddLangugeActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ProfileActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/adapters/LanguageListAdapter.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/LanguageApi.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/UserApi.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/RetroClients/LanguageRetroClient.java
  YallpAndroid/app/src/main/res/drawable-hdpi/penguin.png
  YallpAndroid/app/src/main/res/layout/activity_profile.xml
  YallpAndroid/app/src/main/res/layout/dialog_list_of_languages.xml
  YallpAndroid/app/src/main/res/layout/languale_list_row.xml
Labels: First Issue, Planning

#215 Implementation of all of the writing requirements
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/java/com/example/backend/controller/quiz/QuizController.java
  backend/src/main/java/com/example/backend/controller/writing/WritingController.java
  backend/src/main/java/com/example/backend/model/writing/Writing.java
  backend/src/main/java/com/example/backend/model/writing/WritingDTO.java
  backend/src/main/java/com/example/backend/model/writing/WritingRequest.java
  backend/src/main/java/com/example/backend/model/writing/WritingResult.java
  backend/src/main/java/com/example/backend/model/writing/WritingResultDTO.java
  backend/src/main/java/com/example/backend/repository/member/MemberLanguageRepository.java
  backend/src/main/java/com/example/backend/repository/writing/WritingRepository.java
  backend/src/main/java/com/example/backend/repository/writing/WritingResultRepository.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/WritingDTOConverterService.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/WritingResultDTOConverterService.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Priority: High, Relation: Backend, Type: Project-task

#216 Semantic Search Functionality
  backend/pom.xml
  backend/src/main/java/com/example/backend/controller/search/SearchController.java
  backend/src/main/java/com/example/backend/model/search/TagSimilarity.java
  backend/src/main/java/com/example/backend/repository/quiz/QuizRepository.java
  backend/src/main/java/com/example/backend/repository/search/TagSimilarityRepository.java
  backend/src/main/java/com/example/backend/repository/writing/WritingRepository.java
  backend/src/main/java/com/example/backend/service/search/SearchService.java
  backend/src/main/resources/application.properties
Labels: Priority: Medium, Relation: Backend

#224 Android edit profile page
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/EditProfileActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/UserApi.java
  YallpAndroid/app/src/main/res/layout/activity_edit_profile.xml
Labels: Relation: Android, Status: Needs-review, Type: New Feature

#228 Android complete profile page
  YallpAndroid/app/src/main/AndroidManifest.xml
  YallpAndroid/app/src/main/java/com/example/yallp_android/ExpandableTextView.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/AddLanguageActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/EditProfileActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ProfileActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/QuizListActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/SignInActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/adapters/UserLanguageListAdapter.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Language.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/MemberLanguage.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/QuizAnswers.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/QuizResult.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/UserInfo.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/RetroClients/QuizRetroClient.java
  YallpAndroid/app/src/main/res/layout/activity_profile.xml
  YallpAndroid/app/src/main/res/layout/add_language.xml
  YallpAndroid/app/src/main/res/layout/user_language.xml
  YallpAndroid/app/src/main/res/values/colors.xml
  YallpAndroid/app/src/main/res/values/strings.xml
Labels: Priority: High, Relation: Android, Status: Completed

#232 Backend dev writing
  backend/src/main/java/com/example/backend/controller/writing/WritingController.java
  backend/src/main/java/com/example/backend/model/writing/Writing.java
  backend/src/main/java/com/example/backend/model/writing/WritingDTO.java
  backend/src/main/java/com/example/backend/model/writing/WritingResponse.java
  backend/src/main/java/com/example/backend/model/writing/WritingResult.java
  backend/src/main/java/com/example/backend/model/writing/WritingResultDTO.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/WritingDTOConverterService.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/WritingResultDTOConverterService.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Priority: High, Relation: Backend

#240 Backend/improvement/#236
  backend/src/main/java/com/example/backend/controller/quiz/QuizController.java
  backend/src/main/java/com/example/backend/controller/search/SearchController.java
  backend/src/main/java/com/example/backend/repository/member/MemberLanguageRepository.java
  backend/src/main/java/com/example/backend/repository/quiz/QuizRepository.java
  backend/src/main/java/com/example/backend/repository/writing/WritingRepository.java
  backend/src/main/java/com/example/backend/service/language/LanguageService.java
  backend/src/main/java/com/example/backend/service/quiz/QuizService.java
  backend/src/main/java/com/example/backend/service/search/SearchService.java
Labels: Priority: High

#243 Model update for writing result
  backend/src/main/java/com/example/backend/controller/writing/WritingController.java
  backend/src/main/java/com/example/backend/model/writing/WritingResult.java
  backend/src/main/java/com/example/backend/model/writing/WritingResultDTO.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/WritingResultDTOConverterService.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Priority: Urgent, Relation: Backend, Type: Enhancement

#247 2 new endpoints added
  backend/src/main/java/com/example/backend/controller/language/LanguageController.java
  backend/src/main/java/com/example/backend/controller/member/MemberController.java
  backend/src/main/java/com/example/backend/service/language/LanguageService.java
  backend/src/main/java/com/example/backend/service/member/JwtUserDetailsService.java
Labels: Priority: Urgent, Relation: Backend

#251 Backend dev writing
  backend/src/main/java/com/example/backend/controller/writing/WritingController.java
  backend/src/main/java/com/example/backend/model/writing/WritingResultDTO.java
  backend/src/main/java/com/example/backend/repository/writing/WritingResultRepository.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/WritingResultDTOConverterService.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Priority: Urgent, Relation: Backend

#252 Backend/improvement/#248
  backend/src/main/java/com/example/backend/controller/member/MemberController.java
  backend/src/main/java/com/example/backend/controller/quiz/QuizController.java
  backend/src/main/java/com/example/backend/controller/search/SearchController.java
  backend/src/main/java/com/example/backend/controller/writing/WritingController.java
  backend/src/main/java/com/example/backend/model/member/MemberQuiz.java
  backend/src/main/java/com/example/backend/model/quiz/QuizResponseDTO.java
  backend/src/main/java/com/example/backend/repository/member/MemberQuizRepository.java
  backend/src/main/java/com/example/backend/service/dtoconverterservice/QuizResponseDTOConverterService.java
  backend/src/main/java/com/example/backend/service/member/JwtUserDetailsService.java
  backend/src/main/java/com/example/backend/service/quiz/QuizService.java
  backend/src/main/java/com/example/backend/service/search/SearchService.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Priority: Urgent, Relation: Backend

#254 Backend/search/hotfix
  backend/src/main/java/com/example/backend/service/language/LanguageService.java
Labels: Priority: Medium

#263 Writing exercise activity created
  YallpAndroid/app/build.gradle
  YallpAndroid/app/src/main/AndroidManifest.xml
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/WritingActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/WritingActivity.kt
  YallpAndroid/app/src/main/java/com/example/yallp_android/adapters/WritingListAdapter.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/fragments/WritingListFragment.kt
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/WritingExerciseElement.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/WritingRequest.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/WritingApi.java
  YallpAndroid/app/src/main/res/layout/activity_writing.xml
Labels: Priority: Medium, Relation: Android, Status: Needs-review, Type: New Feature

#266 Bug fix for writing endpoint
  .idea/misc.xml
  backend/src/main/java/com/example/backend/model/writing/WritingResultDTO.java
  backend/src/main/java/com/example/backend/service/writing/WritingService.java
Labels: Relation: Backend

#264 Frontend writing
  frontend/src/App/App.jsx
  frontend/src/HeaderComponent/HeaderComponent.jsx
  frontend/src/ProfilePage/ProfilePage.jsx
  frontend/src/WritingPage/WritingPage.css
  frontend/src/WritingPage/WritingPage.jsx
  frontend/src/WritingPage/index.js
  frontend/src/WritingReviewPage/WritingReviewPage.jsx
  frontend/src/WritingReviewPage/index.js
  frontend/src/_actions/index.js
  frontend/src/_actions/writing.actions.js
  frontend/src/_constants/index.js
  frontend/src/_constants/writing.constants.js
  frontend/src/_reducers/index.js
  frontend/src/_reducers/writing.reducer.js
  frontend/src/_services/index.js
  frontend/src/_services/writing.service.js
Labels: Relation: Frontend

#273 language related bugs are removed
  frontend/src/CoursesPage/LanguageCard.jsx
  frontend/src/HeaderComponent/HeaderComponent.jsx
  frontend/src/HomePage/HomePage.jsx
  frontend/src/_reducers/users.reducer.js
Labels: Priority: Urgent, Relation: Frontend
