Repository bounswe/bounswe2019group10, pull requests merged in 2019-10, with the labels that each got.

#106 Android] get started
  YallpAndroid/app/build.gradle
  YallpAndroid/app/src/main/AndroidManifest.xml
  YallpAndroid/app/src/main/java/com/example/yallp_android/GetStartedActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/MainActivity.java
  YallpAndroid/app/src/main/res/drawable-anydpi/password_eye.xml
  YallpAndroid/app/src/main/res/drawable-hdpi/password_eye.png
  YallpAndroid/app/src/main/res/drawable-mdpi/password_eye.png
  YallpAndroid/app/src/main/res/drawable-xhdpi/password_eye.png
  YallpAndroid/app/src/main/res/drawable-xxhdpi/password_eye.png
  YallpAndroid/app/src/main/res/drawable/leftarrow.png
  YallpAndroid/app/src/main/res/drawable/signin_button_shape.xml
  YallpAndroid/app/src/main/res/layout/activity_main.xml
  YallpAndroid/app/src/main/res/layout/get_started.xml
  YallpAndroid/app/src/main/res/values/dimens.xml
  YallpAndroid/app/src/main/res/values/styles.xml
  YallpAndroid/build.gradle
Labels: Relation: Android, Status: Needs-review

#114 Android profile page
  YallpAndroid/app/src/main/AndroidManifest.xml
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ProfileActivity.java
  YallpAndroid/app/src/main/res/drawable/border_image.xml
  YallpAndroid/app/src/main/res/drawable/flag_placeholder.xml
  YallpAndroid/app/src/main/res/drawable/plus_sign.xml
  YallpAndroid/app/src/main/res/layout/activity_profile.xml
Labels: Status: Needs-review, Type: New Feature

#116 Backend Auth Final
  .idea/misc.xml
  backend/pom.xml
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/java/com/example/backend/config/JwtAuthenticationEntryPoint.java
  backend/src/main/java/com/example/backend/config/JwtRequestFilter.java
  backend/src/main/java/com/example/backend/config/JwtTokenUtil.java
  backend/src/main/java/com/example/backend/config/SecureAuthenticationConfiguration.java
  backend/src/main/java/com/example/backend/config/WebSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/AdminController.java
  backend/src/main/java/com/example/backend/controller/AuthenticationController.java
  backend/src/main/java/com/example/backend/controller/JwtAuthenticationController.java
  backend/src/main/java/com/example/backend/controller/MemberController.java
  backend/src/main/java/com/example/backend/domain/CustomUserDetails.java
  backend/src/main/java/com/example/backend/domain/Member.java
  backend/src/main/java/com/example/backend/model/JwtRequest.java
  backend/src/main/java/com/example/backend/model/JwtResponse.java
  backend/src/main/java/com/example/backend/model/Member.java
  backend/src/main/java/com/example/backend/model/MemberDTO.java
  backend/src/main/java/com/example/backend/repository/MemberRepository.java
  backend/src/main/java/com/example/backend/service/JwtUserDetailsService.java
  backend/src/main/java/com/example/backend/service/MemberService.java
  backend/src/main/resources/application.properties
Labels: Priority: High, Relation: Backend, Type: New Feature

#131 register returns token
  backend/src/main/java/com/example/backend/controller/member/JwtAuthenticationController.java
  backend/src/main/java/com/example/backend/controller/member/MemberController.java
Labels: Priority: High, Relation: Backend, Type: Enhancement

#142 Android quiz
  YallpAndroid/app/build.gradle
  YallpAndroid/app/src/main/AndroidManifest.xml
  YallpAndroid/app/src/main/check-web.png
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/GetStartedActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ProfileActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/QuizActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/SignInActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/fragments/QuestionFragment.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Question.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Quiz.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Token.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/QuizApi.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/UserApi.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/RetroClients/QuizRetroClient.java
  YallpAndroid/app/src/main/res/drawable/ic_check.xml
  YallpAndroid/app/src/main/res/drawable/ic_close.xml
  YallpAndroid/app/src/main/res/drawable/radio_button.xml
  YallpAndroid/app/src/main/res/layout/activity_get_started.xml
  YallpAndroid/app/src/main/res/layout/activity_profile.xml
  YallpAndroid/app/src/main/res/layout/activity_quiz.xml
  YallpAndroid/app/src/main/res/layout/activity_signin.xml
  YallpAndroid/app/src/main/res/layout/fragment_question.xml
  YallpAndroid/app/src/main/res/values/styles.xml
Labels: Priority: High

#156 Backend test
  backend/src/test/java/com/example/backend/controller/member/JwtAuthenticationControllerTest.java
  backend/src/test/java/com/example/backend/controller/member/MemberControllerTest.java
Labels: Priority: Low, Relation: Backend, Type: Enhancement

#153 Android profile connections
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/GetStartedActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ProfileActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/SignInActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/UserInfo.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/UserApi.java
  YallpAndroid/app/src/main/res/layout/activity_profile.xml
Labels: Priority: High, Relation: Android, Status: Needs-review, Type: New Feature

#155 Android quiz
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/GetStartedActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/MainActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ProfileActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/QuizActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/SignInActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/fragments/AreYouSureFragment.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/UserApi.java
  YallpAndroid/app/src/main/res/drawable-hdpi/crying_bird.png
  YallpAndroid/app/src/main/res/drawable-hdpi/shocked_bird.png
  YallpAndroid/app/src/main/res/layout/activity_quiz.xml
  YallpAndroid/app/src/main/res/layout/dialog_are_you_sure.xml
  YallpAndroid/app/src/main/res/layout/fragment_question.xml
Labels: Priority: High, Relation: Android

#162 home page re-implemented with antd. profile page added
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/ProfilePage.css
  frontend/src/ProfilePage.js
  frontend/src/index.js
  frontend/src/users.js
Labels: Priority: High, Relation: Frontend

#167 Quiz Result and Score
  YallpAndroid/app/src/main/AndroidManifest.xml
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/GetStartedActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ProfileActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/QuizActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/QuizScoreActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/SignInActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Answer.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/AnswerResult.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/QuizAnswers.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/QuizResult.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/QuizApi.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/RetroClients/QuizRetroClient.java
  YallpAndroid/app/src/main/res/layout/activity_get_started.xml
  YallpAndroid/app/src/main/res/layout/activity_main.xml
  YallpAndroid/app/src/main/res/layout/activity_profile.xml
  YallpAndroid/app/src/main/res/layout/activity_quiz.xml
  YallpAndroid/app/src/main/res/layout/activity_score.xml
  YallpAndroid/app/src/main/res/layout/activity_signin.xml
  YallpAndroid/app/src/main/res/layout/dialog_are_you_sure.xml
  YallpAndroid/app/src/main/res/layout/fragment_question.xml
  YallpAndroid/app/src/main/res/values/strings.xml
  YallpAndroid/app/src/main/res/values/styles.xml
Labels: Priority: High, Relation: Android, Status: Needs-review, Type: New Feature

#170 Android - Multiple changes
  YallpAndroid/app/build.gradle
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/ProfileActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/activities/QuizScoreActivity.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/Language.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/MemberLanguage.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/models/UserInfo.java
  YallpAndroid/app/src/main/java/com/example/yallp_android/util/Api/QuizApi.java
  YallpAndroid/app/src/main/res/layout/activity_profile.xml
  YallpAndroid/app/src/main/res/layout/fragment_question.xml
  YallpAndroid/build.gradle
Labels: Priority: High, Relation: Android, Status: Needs-review, Type: Enhancement

#172 Backend/bugfix/#171
  backend/src/main/java/com/example/backend/WebConfig.java
  backend/src/main/java/com/example/backend/config/JwtRequestFilter.java
  backend/src/main/java/com/example/backend/config/WebSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/member/MemberController.java
  backend/src/main/java/com/example/backend/controller/quiz/QuizController.java
Labels: Priority: High, Relation: Backend, Type: Bug
